body {
  font-family: "Montserrat";
}

h2, h3, h4 {
  font-family: "Montserrat";
  font-weight: 600;
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #FFF;
}
@media (max-width:1028px) {
  #title {
    text-align: center;
  }
}
.container-fluid {
  /* padding: 3% 8% 3%; */
}

.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.Download-button {
  margin-right: 1%;
  margin-left: 70%;

}
.title-img {
  height: 250px;
  width: 250px;
  margin-bottom: 2%;

}

#features {
  padding-left: 5%;
  background-color: #fff;

}

.features-box {
  /* text-align: center; */
  /* padding: 5%; */
}

.icon {
  color: #ef8172;

}

.icon:hover {
  color: #ff4c68;
}
#cal{

  padding-left: 5%;
  background-color: #fff;

}

#box {
  padding: 50px;
}

.p-column {
  padding: 1% 1%;
}

#cta {
  background-color: #ff4c68;
  padding: 1% 1%;
}

#footer {
  padding: 1% 1%;
  text-align: center;
}

.soc-icon {
  margin: 20px 10px;
}
